<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul class="nav navbar navbar-left d-flex d-inline-flex first-row">
    <li class="nav-item d-inline-flex  align-items-center mr-2"><button class="btn btn-primary" routerLink="/evenement" routerLinkActive="active">Saisie Evenement</button></li>
    <li class="nav-item d-inline-flex  align-items-center mr-2"><button class="btn btn-primary" routerLink="/finShift" routerLinkActive="active">Fin Shift</button></li>
    <li class="nav-item d-inline-flex  align-items-center mr-2"><button class="btn btn-primary" routerLink="/finDechargement" routerLinkActive="active">Fin Déchargement</button></li>
    <li class="nav-item d-inline-flex  align-items-center mr-2"><button class="btn btn-primary" routerLink="/verifyDechargement1" routerLinkActive="active">Vérifie Déchargement1</button></li>
    <li class="nav-item d-inline-flex  align-items-center mr-2"><button class="btn btn-primary" routerLink="/verifyDechargement3" routerLinkActive="active">Vérifie Déchargement3</button></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>